<p>customers Listing</p>

<table>
    <tr>
        <td>
            <h2>Name</h2>
        </td>
        <td>
            <h2>Car</h2>
        </td>
        <td>
            <h2>gender</h2>
        </td>
        <td>
            <h2>No Claims</h2>
        </td>
    </tr>
    <tr *ngFor="let customer of customers | async">
        <td>
            Name:{{customer.first_name}} {{customer.last_name}}
        </td>
        <td>
            Car: {{customer.car}}
        </td>
        <td>
            Gender: {{customer.gender}}
        </td>
        <td>
            NoClaims: {{customer.no_claims}
        </td>
    </tr>

</table>
