// table {
//     border-style:solid;
// }

// td{
//     border-style:solid;
//     padding:3px;
// }

// tr:nth-child(even){
//     background:skyblue;

// }
// tr:hover{
//     background-color: lightsalmon;
// }
thead.any-table-thead {
    background-color:#c50e0e;
}

.logo {
    width: 120px;
    height: 31px;
    background-image:url('../../../assets/afs.png');
    margin: 16px 24px 16px 0;
    float: left;
  }