<!-- <ul>
    <li *ngFor="let customer of listData">
        {{customer.first_name}} {{customer.last_name}}
    </li>
</ul> -->

<nz-table #sortTable [nzData]="listData">
    <thead>
        <tr>
            <th>
            Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Car
            </th>
            <th>
                No Claims
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of sortTable.data">
            <td>
                {{customer.first_name}} {{customer.last_name}}
            </td>
            <td>
                {{customer.gender}}
            </td>
            <td *ngIf="customer.car">
                {{customer.car}}
            </td>
            <td *ngIf="!customer.car">
                N/A
            </td>
            <td>
                {{customer.no_claims}}
            </td>
        </tr>
    </tbody>
</nz-table>