<nz-layout>
    <nz-header>
        <span><div class="logo"></div>
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
                <li nz-menu-item>
                    <a routerLink="">Home</a>
                </li>
                <li nz-menu-item>
                    <a routerLink="customers">customers</a>
                </li>
                <li nz-menu-item>
                    <a routerLink="contractors">contractors</a>
                </li>
                <li nz-menu-item>
                    <a routerLink="auth">Login</a>
                </li>
            </ul> 
        </span>
    </nz-header>

    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
        
    </nz-content>

    <nz-footer>
        Teokigi
    </nz-footer>
</nz-layout>