<nz-layout>
    <nz-header>
        <div height="40px" width="120px"></div>
            <ul nz-menu nzTheme="dark" nzMode="horizontal">
                <li nz-menu-item>
                    <a routerLink="home">Home</a>
                </li>
                
                <li nz-menu-item>
                    <a routerLink="home/customers">customers</a>
                </li>
                
                <li nz-menu-item>
                    <a routerLink="home/contractors">contractors</a>
                </li>
            </ul> 
    </nz-header>

    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
        
    </nz-content>

    <nz-footer>
        Teokigi
    </nz-footer>
</nz-layout>